###############################################################################
# SAS data files
###############################################################################

*.sas7bdat
*.sas7bcat
*.sas7bndx
*.sas7bvew
*.sashdat
*.xpt


###############################################################################
# SAS output
###############################################################################

*.log
*.lst
*.htm
*.html

*.pdf
*.rtf
*.docx
*.pptx


###############################################################################
# Python / R helper scripts
###############################################################################

__pycache__/
.pytest_cache/
*.pyc

.Rhistory
.RData
.Rproj.user/

###############################################################################
# VS Code
###############################################################################

.vscode/settings.json
.vscode/*.code-workspace

###############################################################################
# Operating system
###############################################################################

.DS_Store
Thumbs.db

###############################################################################
# Secrets
###############################################################################

.env
.env.*

*.pem
*.p12
*.key
*.crt



